// Color names come from the following sites:
// http://chir.ag/projects/name-that-color
// or
// http://veli.ee/colorpedia/

// Our current palette
$white: #ffffff;
$gallery: #eeeeee;
$silver: #cccccc;
$silver-chalice: #a8a8a8;
$boulder: #757575;
$emperor: #555555;
$mine-shaft: #252525;
$pampas: #f8f6f4;
$shiraz: #b30838;
$alto: #e0e0e0;
$black: #000000;

// For theme switcher demo only
$cerulean: #0cb0d1;
$blue-chill: #0a90aa;
$deep-cerulean: #0a75aa;

// Sass nested palette maps, use quotes otherwise messes up with CSS values
$default-palette: (
  'header': (
    'background':                   $shiraz,
    'foreground':                   $white
  ),
  'main': (
    'background':                   $alto
  ),
  'courseware-number':              $emperor,
  'collapsible': (
    'border':                       $silver-chalice
  ),
  'search': (
    'background':                   $alto,
    'foreground':                   $emperor
  ),
  'filters': (
    'foreground':                   $emperor
  ),
  'footer': (
    'background':                   $pampas
  ),
  'card': (
    'background':                   $white,
    'hover-box-shadow':             $silver,
    'button-background':            $gallery,
    'title-foreground':             $mine-shaft,
    'subtitle-foreground':          $boulder          
  ),
  'user': (
    'foreground':                   $emperor
  )
);

$a11y-palette: (
  'header': (
    'background':                   $blue-chill
  ),
  'main': (
    'background':                   $cerulean
  ),
  'collapsible': (
    'border':                       darken($cerulean, 20%)
  ),
  'footer': (
    'background':                   lighten($blue-chill, 10%)
  ),
  'card': (
    'background':                   $deep-cerulean,
    'hover-box-shadow':             darken($deep-cerulean, 10%)                
  )
);
