@import '@material/tab/mixins';
@import '../styles/functions/color';
@import '../styles/colors';

.account-tab {
  // Increase specificity weight with double selector by using Sass interpolation
  // https://stackoverflow.com/questions/47781073/increase-specificity-weight-with-double-selector-via-sass
  &#{&} {
    font-weight: bold;
    @include mdc-tab-text-label-color(color(tab-foreground));
    @include mdc-tab-states-color($emperor);
    .mdc-tab-indicator.mdc-tab-indicator--active {
      .mdc-tab-indicator__content.mdc-tab-indicator__content--underline {
        border-color: color(tab-foreground);
      }
    }
  }
}

.account-tab-content {
  padding-top: 1rem;
}

.account-user {
  padding: 1rem 1rem 1rem 1rem;
  color: color(courseware-number);
  font-weight: bold;
}

.account-user-email {
  font-style: oblique;
}

