@import '../styles/mixins/breakpoints';

.courseware {
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  grid-template-areas:
    'header'
    'image'
    'metadata'
    'description'
    'pages';
  
  @include media-breakpoint-up(sm) {
    grid-template-columns: 300px 1fr;
    grid-template-areas:
      'header      header'
      'image       metadata'
      'description description'
      'pages       pages';
  }
}

.header {
  grid-area: header;
  border-bottom: 2px solid gray;
  margin-bottom: 1rem;
}

.metadata {
  grid-area: metadata;

  @include media-breakpoint-up(sm) {
    margin-left: 4rem;
  }
}

.description {
  grid-area: description;
}

.pages {
  grid-area: pages;
}
