@import '../styles/colors';
@import '../styles/functions/color';

.container {
  padding: 1rem;
}

.list {
  list-style: inside;
  line-height: 150%;
  margin: 0;
  padding: 0;

  a {
    color: $deep-cerulean;
    font-weight: bold;
    text-decoration: none;
    
    &:hover {
      color: $cerulean;
      cursor:pointer;
    }
  }
  margin-bottom: 2rem;
}

.list-item {
  width: 25rem;
}

.list-item-header {
  color: $deep-cerulean;
}

.list-item-content {
  padding-left: 1rem;
}
