@import '../styles/colors';
@import '../styles/functions/color';
@import '../styles/mixins/breakpoints';

.featured-stories-container {
  display: flex;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
  
}

.drawer-container {
  border-right: 1px solid $silver;
  padding-right: 0.5rem;
  @include media-breakpoint-down(sm) {
    border-right: o;
    padding-left: 0;
  }
}

.stories-container {
  padding-left: 0.2rem;
  @include media-breakpoint-down(sm) {
    padding-left: 0;
  }
}

.mdc-drawer.mdc-drawer {
  background-color: color(main-background);
  border-color:color(main-background);
  width: 12rem;
}

.mdc-drawer__header.mdc-drawer__header {
  padding-top: 1.25rem;
  padding-bottom: 0.6rem;
}
