@import '../styles/functions/color';

.spinner-container {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.spinner {
  color: color(courseware-number);
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 2rem;
  height: 2rem;
}
