/* stylelint-disable selector-pseudo-class-no-unknown  */
:global {
  @import '@material/card/mdc-card';
}
@import '@material/card/mixins';
@import '../styles/functions/color';

.card {
  @include mdc-card-fill-color(color(card-background));
  max-width: 20rem;
  padding: 0.5rem;
  
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  
  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px color(card-hover-box-shadow);
    cursor: pointer;
  }
}
