/* stylelint-disable selector-pseudo-class-no-unknown  */
:global {
  @import '@material/card/mdc-card';
}
@import '@material/card/mixins';
@import '@material/button/mixins';
@import '../styles/functions/color';

.card {
  @include mdc-card-fill-color(color(card-background));
  max-width: 20rem;
  padding: 0.5rem;
  position: relative;
  top: 0;
  transition: all .1s ease-in;

  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px color(card-hover-box-shadow);
  }
}

.title {
  color: color(card-title-foreground);
}

.subtitle {
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
  color:color(card-subtitle-foreground);
}

.subsubtitle {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  color: color(card-subtitle-foreground);
  font-size: 0.8rem;
}

.description {
  margin-top: 1rem;
}

.actions {
  margin-top: 1.5rem;
}

.button {
  // Does not work with either $gallery or color(card-button-background)
  @include mdc-button-filled-accessible(#eeeeee);
}

.icon {
  svg {
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
  }
}

// Condensed card
.actions-condensed {
  margin-top: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid lightgray;
  
  .text-container {
    max-width: 14rem;
    padding-right: 1rem;
  }
  
  .thumbnail {
    display: block;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    object-position: center;
  }
}

// Text card
.text-card {
  p {
    margin: 0;
    padding-bottom: 0.4rem;
  }
  .title {
    color: color(card-title-foreground);
    text-decoration: none;
    font-weight:500;
    &:active {
      color:color(header-background);
    }
    &:hover {
      color:color(header-background);
      text-decoration: underline;
    }
  }
  .subtitle {
    color:color(card-subtitle-foreground);
  }
  .description {
    color:color(card-subtitle-foreground);
    font-style: oblique;
  }
}
