@import '../styles/functions/color';
@import '../styles/mixins/breakpoints';

.coursewareNumber {
  color: color(courseware-number);
  font-weight: bold;
  margin: 0 1rem 1rem;
  padding: 1rem 0;
  border-bottom: solid 2px color(collapsible-border);
}

.courseware-list {
  padding: 1rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  
  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(5, 1fr);
  }
}
