@import '@material/card/mixins';
@import '@material/button/mixins';
@import '../styles/functions/color';

.courseware-card {
  @include mdc-card-fill-color(color(card-background));
  max-width: 20rem;
  padding: 0.5rem;
  position: relative;
  top: 0;
  transition: all .1s ease-in;

  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px color(card-hover-box-shadow);
  }
}

.courseware-card-title {
  color: color(card-title-foreground);
}

.courseware-card-subtitle {
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
  color:color(card-subtitle-foreground);
}

.courseware-card-subsubtitle {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  color: color(card-subtitle-foreground);
  font-size: 0.8rem;
}

.courseware-image {
  max-width:100%;
}

.courseware-card-description {
  margin-top: 1rem;
}

.courseware-card-actions {
  margin-top: 1.5rem;
}

.courseware-card-button {
  // Increase specificity weight with double selector by using Sass interpolation
  // https://stackoverflow.com/questions/47781073/increase-specificity-weight-with-double-selector-via-sass
  &#{&} {
    // Does not work with either $gallery or color(card-button-background)
    @include mdc-button-filled-accessible(#eeeeee);
  }
}

.courseware-card-icon {
  svg {
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
  }
}

// Condensed card
.courseware-card-condensed {
  max-width: 30rem;
}

.courseware-card-actions-condensed {
  margin-top: 0.5rem;
}

.courseware-card-header {
  display: flex;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid lightgray;
  
  .courseware-card-text-container {
    flex-grow: 2;
    padding-right: 1rem;
  }
  
  .courseware-card-thumbnail {
    display: block;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    object-position: center;
  }
}

// Text card
.courseware-card-text-card {
  p {
    margin: 0;
    padding-bottom: 0.4rem;
  }
  .courseware-card-title {
    color: color(card-title-foreground);
    text-decoration: none;
    font-weight:500;
    &:active {
      color:color(header-background);
    }
    &:hover {
      color:color(header-background);
      text-decoration: underline;
    }
  }
  .courseware-cardsubtitle {
    color:color(card-subtitle-foreground);
  }
  .courseware-card-description {
    color:color(card-subtitle-foreground);
    font-style: oblique;
  }
}
