@import '../styles/colors';

.subheader {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.title-container {
  display: inline-block;
  margin-right: 1rem;
}

.title {
  display: inline-block;
  margin-right: 1rem;
}

.icon {
  display: inline-block;
  margin-right: 1rem;
  color: $emperor;
  &:hover {
    cursor: pointer;
  }
  svg {
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
  }
}

.visits {
  display: inline-block;
  color: $emperor;
}
