.course-page {
  margin-bottom: 1rem;
}

.video-container {
  overflow: hidden;
  padding-bottom: 56.25%; // To get a 16:9 ratio
  position: relative;
  height: 0;
}

.video-iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
