/* stylelint-disable selector-pseudo-class-no-unknown  */
:global {
  @import '@material/icon-button/mdc-icon-button';
}
@import '../styles/functions/color';
@import '../styles/mixins/breakpoints';

.courseware-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: color(courseware-number);
  font-weight: bold;
  margin: 0 1rem 1rem;
  padding: 1rem 0 0 0;
  border-bottom: solid 2px color(collapsible-border);
}

.courseware-favorite {
  display: flex;
  flex-flow: row-reverse;
  color: color(courseware-number);
  font-weight: bold;
  margin: 0 1rem 1rem;
  padding: 1rem 0 0 0;
  border-bottom: solid 2px color(collapsible-border);
}

.courseware-list {
  padding: 0 1rem 1rem 1rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  
  @include media-breakpoint-up(sm) {
    justify-items: stretch;
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(md) {
    justify-items: stretch;
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-breakpoint-up(lg) {
    justify-items: stretch;
    grid-template-columns: repeat(4, 1fr);
  }

  @include media-breakpoint-up(xl) {
    justify-items: stretch;
    grid-template-columns: repeat(5, 1fr);
  }
}

.courseware-list-condensed {
  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.courseware-list-text {
  justify-items: stretch;
  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(1, 1fr);
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(1, 1fr);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(1, 1fr);
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.courseware-list-loading {
  padding: 0 1rem 1rem 1rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

}

.courseware-filter {
  padding: 1rem;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.spinner {
  color: color(courseware-number);
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 4em;
  height: 4em;
}
