@import '../styles/functions/color';

.footer {
  background: color(footer-background);
  margin: 0 auto;
  padding: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  padding: 0.5rem;
}
