/* stylelint-disable selector-pseudo-class-no-unknown  */
:global {
  @import '@material/button/mdc-button';
}
@import '@material/button/mixins';
@import '../styles/functions/color';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background: color(header-background);
  color: color(header-foreground);
  font-weight: bold;
  margin: 0 auto;
  padding: 0.5rem;
}

.button {
  @include mdc-button-ink-color(color(header-foreground));
}
