@import '@material/button/mixins';
@import '@material/switch/mixins';
@import '../styles/functions/color';

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background: color(header-background);
  color: color(header-foreground);
  font-weight: bold;
  margin: 0 auto;
  padding: 0.5rem;
}

.header-left-items {
  display: flex;
  justify-content: start;
  align-items: center; 
  flex: 1 1 auto;
  max-width: 57.5rem;
  margin-right: 1rem;
}

.header-right-items {
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 0 0 auto;
}

.header-button {
  // Increase specificity weight with double selector by using Sass interpolation
  // https://stackoverflow.com/questions/47781073/increase-specificity-weight-with-double-selector-via-sass
  &#{&} {
    @include mdc-button-ink-color(color(header-foreground));
    min-width: 0;
    flex: 0 0 auto;
    text-transform: none;
    font-size: 1rem;
    white-space: nowrap;
    small {
      font-size: 70%;
    }
  }
}

.header-button-left {
  text-align: left;
  margin-right: 1rem;
}

.header-log-button {
  .mdc-button__label {
    display: flex;
    align-items: center;
    small {
      font-size: 80%;
      padding-right: 0.25rem;
    }
    svg {
      margin-bottom: 0.1rem;
    }
  }
}

.header-switch {
  &#{&} {
    --mdc-theme-secondary: #c7c7c7; // Doesn't work with Sass variables nor switch mixins
    margin: 0 0.5rem 0 1rem;
    color: color(header-foreground);
    font-weight: bold;
    font-size: 1rem;
  }
}

.header-favorite-button {
  .mdc-button__label {
    display: flex;
    align-items: center;
    svg {
      margin-bottom: 0.1rem;
    }
  }
}

.rmwc-tooltip.rmwc-tooltip--show-arrow.rmwc-tooltip-placement-top {
  .rmwc-tooltip-content {
    .rmwc-tooltip-arrow {
      border-top-color: color(tooltip-background);
    }
  }
}

.rmwc-tooltip-inner {
  &#{&} {
    background: color(tooltip-background);
    color: color(tooltip-foreground);
    font-size: 1rem;
    font-weight: bold;
  }
}
