@import '../styles/functions/color';
@import '../styles/mixins/breakpoints';

.card-list {
  padding: 0 1rem 1rem 1rem;
  display: grid;
  justify-items: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  @include media-breakpoint-up(md) {
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
  }
}

.card-list-bottom {
  @include media-breakpoint-up(md) {
    justify-items: stretch;
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 10rem;
  max-width: 20rem;
}

.image {
  display: block;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }
}

.title {
  padding-top: 0.5rem;
}

.description {
  margin-top: -0.75rem;
  text-align: center;
}
