@import '@material/button/mixins';
@import '../styles/colors';

.featured-section-container {
  margin-top: 2rem;
}

.featured-section-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.featured-section-button {
  // Increase specificity weight with double selector by using Sass interpolation
  // https://stackoverflow.com/questions/47781073/increase-specificity-weight-with-double-selector-via-sass
  &#{&} {
    // Does not work color function
    @include mdc-button-filled-accessible($shiraz);
  }
}